<div id="header" class="header">
    <a href="/">
       <img class="site_logo" src="../img/Main Logo.svg" alt="Site Logo"/>
    </a>
    <h1 id='page_title'><%= page_title %></h1>
    <div class="pp_container">
        <a href="/account">
            <img id='header_profile_pic' class="pp" src="<%= profile_picture %>"/>
        </a>
    </div>
    
    
</div>

